body{
	background-color: #F5F5F5;
	font-family: system-ui;
}

p{
	margin-left: 20px;
	margin-top: 50px;
	font-size: 25px;
}
div{
	display: inline-block;
	height: 50px;
	width: 100px;
	text-align:  center;
	padding-top: 30px;
	background-color: #d3d3d3;
	margin-left: 5px;
	font_size: 40px;
}